@charset "utf-8";
/* CSS Document */

/*----- TIER2 CONTENT -----*/
.tier2 #container-content {
	font-size: 1.2em;
	/*width: 960px;*/
	overflow: hidden;
}
.tier2 #container-content #wrapper {
	width: 960px;
}
.tier2 #container-content #menu-section {
	width: 213px;  /* Fixed width to accommodate sectional graphic above menu items */
	float: left;
	background-color: #F4E8D1;
	margin: 0;
	padding: 0;
	display: inline;
}
.tier2 #container-content #content {
	float: left;
	width: 747px;
	padding: 20px;
	display: inline;
	w\idth: 707px;
}
.right {
	float:right;
	margin:5px;
}

/*----- TIER2 CONTENT: CONTENT ----- */
.tier2 #container-content #content > *:first-child {
	margin-top: 0;
}