@charset "utf-8";
/* CSS Document */

/*----- MAIN MENU -----*/
#container #menu-main {
	height: 3em;
	background: #00CC33;
	overflow: hidden;
}
#menu-main ul, #menu-mail ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 11px;
	font-weight:bolder;
}
#menu-main ul {
	margin-left:10px;
}
#menu-main ul li {
	display: inline;
	float: left;
	width: auto;
	height: 3em;
}
#menu-main ul li a {
	display: table;
	width: 111px;
	height: 3em;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding-left: 10px;
}
#menu-main ul li a:hover {
	background:#8B3B2A;
}
#menu-main ul li a span {
	display: table-cell;
	vertical-align: middle;
}
#menu-main ul li.item-1 a {
	width: 93px;
}
#menu-main ul li.item-2 a {
	width: 116px;
}
#menu-main ul li.item-3 a {
	width: 103px;
}
#menu-main ul li.item-4 a {
	width: 116px;
}
#menu-main ul li.item-5 a {
	width: 147px;
}
#menu-main ul li.item-6 a {
	width: 100px;
}
#menu-main ul li.item-7 a {
	width: 85px;
}
#menu-main ul li.item-8 a {
	width: 93px;
}