@charset "utf-8";
/* CSS Document */

@charset "utf-8";
body {
	font: 0.625em Arial, Verdana, sans-serif;
	background: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

h1 {
	margin-top: 8px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4em;
}

h2 {
	margin-top: 0;
	font-weight: bold;
	font-size: 1.25em;
}

h2 a:link {
	text-decoration: none;
}

h2 a:visited {
	text-decoration: none;
}

h2 a:hover {
	text-decoration: underline;
}

h3 {
	font-weight: bold;
	font-size: 1em;
}

.tier2, .tier2 #container-content a, .tier2 #container-content a:visited   {
	color: #8B3B2A;
}