<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Agency name: Section - Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" lang="en" />
<meta name="language" content="en" />
<!-- Standard and AGLS Metadata - update as necessary for your agency -->
<agls:agls-record xmlns:dc="http://dublincore.org/elements/1.1/"  xmlns:agls="http://agls.gov.au/agls/1.2"
 xmlns:agls-audience="http://www.agls.gov.au/audience/" xmlns:agls-agent="http://www.agls.gov.au/audience/">
<meta name="DC.Identifier" scheme="URI" content="http://www.domain.wa.gov.au/" />
<meta name="DC.Creator" scheme="AglsAgent" content="corporateName=Agency name; jurisdiction=Western Australia" />
<meta name="DC.Creator" personalname="Agency name" contact="Position title, Branch, Location" lang="en" />
<meta name="DC.Publisher" corporatename="Agency name" contact="Position title, Branch, Location" lang="en" />
<meta name="DC.Title" content="XX page title XX" lang="en" />
<meta name="DC.Subject" content="XX subject XX" />
<meta name="DC.Description" content="XX description XX" lang="en" />
<meta name="Description" content="XX description XX" />
<meta name="DC.Date.modified" scheme="ISO8601" content="XX date modified XX" />
<meta name="DC.Language" scheme="RFC1766" content="en" />
<meta name="AGLS.Audience" scheme="agls-audience" content="XX audience XX" />
<meta name="DC.Format" scheme="IMT" content="text/html" />
<meta name="Keywords" content="XX keywords XX" />
<!-- Creative Commons License
The baseline template provided by the Public Sector Commission is released under a Creative Commons license. Removal of, or failure to embed this notice and associated license information from this page, template, or any deritive thereof is an offence per the Copyright Act 1968 (Cwlth).
-->
<!-- Begin CC License notice -->
<!--
<meta name="DC.rights" scheme="DCTERMS.URI" content="http://creativecommons.org/licenses/by/3.0/au/" />
<meta name="DC.rights" content="(c) 2010 Forest Products Commission, Government of Western Australia" />
-->
<!-- End CC License notice -->
<!-- Javascript and jquery -->
<!-- To ensure that all JS and jQuery elements are available to all pages within the site, please ensure their information is added to the following file -->
<!-- include virtual="/assets/js/import.inc" -->
<!--
Call Google CDN using API key
Documentation: http://code.google.com/apis/ajaxlibs/documentation/index.html#jqueryUI

Please ensure that you use your own API key, and not the one contained within this file.
-->
<script src="http://www.google.com/jsapi?key=ABQIAAAA6vZeEkM0KyP39fzR4WH15BRNqZKDNE222n26MjBSchDpjP7zexRKOru55pKob0TLEZWtrySxbGzXsA" type="text/javascript"></script>
<script type="text/javascript">

// Call & load jQuery and jQuery UI modules
  google.load("jquery", "1.4.2");
  google.load("jqueryui", "1.8.1");
</script>
<!-- Load required scripts -->
<script type="text/javascript" src="../assets/js/jquery/jquery.dimensions.min.js"></script>
<script type="text/javascript" src="../assets/js/jquery/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="../assets/js/jquery/jquery.serialScroll-min.js"></script>
<script type="text/javascript" src="../assets/js/jquery/preloadCssImages.jQuery_v5.js"></script>
<script type="text/javascript" src="../assets/js/jquery/searchBox.js"></script>
<script type="text/javascript" src="../assets/js/jquery/internal.js"></script>
<!-- style sheets -->
<!-- All CSS should be defined in, or imported via the following single style sheet. This ensures that changes are available to all pages within the site without need for massive recoding -->
<link href="../assets/css/import-internal.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 7]>
<link href/Assets/Css/layout-ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lte IE 6]>
<link href/Assets/Css/layout-ie6.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link href/Assets/Css/layout-ie6-print.css" rel="stylesheet" type="text/css" media="print" />
<![endif]-->
</head>
<body>
<p id="skip"><a href="#content">Slip to content</a></p>
<div id="container" class="tier2">
  <div id="header">
    <div id="logo-cobrand"><a href="/path/to/homepage.ext" title="Government of Western Australia"><img src="../assets/images/core/wa-govt-crest.gif" alt="Government of Western Australia crest" width="141" height="122" /></a> </div>
    <div id="logo-cobrand-text"><strong>Government of Western Australia</strong><br/>
      <a href="/path/to/home.ext" title="Return to our homepage">Name of agency</a></div>
    <div id="search">
      <div id="search-links"><a href="/path/to/sitemap.ext" title="View a full map of this website">Sitemap</a> | <a href="/path/to/accessibility_statement.ext" title="Read our accessibility statement">Accessibility</a> | <a href="/path/to/contact_us.ext" title="Find out how to contact us, provide feedback or make a complaint">Contact us </a></div>
      <form id="search-form">
        <p>
          <label id="search-terms" for="terms">Search terms:</label>
          <input type="text" id="terms" name="terms" size="20" tabindex="1" />
          <input type="submit" class="button" value="Search" tabindex="3" />
        </p>
        <p>
          <label id="search-source" for="src_gov">Search where:</label>
          <select name="src_gov" id="src_gov" tabindex="2">
            <option value="/path/to/your/search.ext" selected="selected">Search this site</option>
            <option value="http://wa.gov.au/search/index.html?cx=013143409236470047600%3Aw3rlsolxaty&sa=Search&cof=FORID%3A11&q=">Search all WA Govt. websites</option>
          </select>
        </p>
      </form>
    </div>
  </div>
  <div id="menu-main">
    <ul>
      <li class="item-1"><a href="/path/to/file.ext">Item 1</a></li>
      <li class="item-2"><a href="/path/to/file.ext">Item 2 with a long name</a></li>
      <li class="item-3"><a href="/path/to/file.ext">Item 3</a></li>
      <li class="item-4"><a href="/path/to/file.ext">Item 4</a></li>
      <li class="item-5"><a href="/path/to/file.ext">Item 5 and shorter</a></li>
      <li class="item-6"><a href="/path/to/file.ext">Item 6</a></li>
      <li class="item-7"><a href="/path/to/file.ext">Item 7</a></li>
      <li class="item-8"><a href="/path/to/file.ext">Item 8</a></li>
    </ul>
  </div>
  <div id="container-content">
    <div id="wrapper">
      <div id="menu-section">
        <ul>
          <li><a href="/path/to/file.ext">Item 1</a></li>
          <li><a href="/path/to/file.ext">Item 2</a></li>
          <li><a href="/path/to/file.ext">Item 3</a></li>
          <li><a href="/path/to/file.ext">Item 4</a></li>
          <li><a href="/path/to/file.ext">Item 5</a></li>
          <li><a href="/path/to/file.ext">Item 6</a></li>
          <li><a href="/path/to/file.ext">Item 7</a></li>
          <li><a href="/path/to/file.ext">Item 8</a></li>
        </ul>
      </div>
      <a name="content"></a>
      <div id="content">
        <h1>Heading (typed in sentance case, css formats to all caps)</h1>
        <p>The text you want goes here.</p>
        <p>And even some more text can go in the next paragraph, and so on until you've included everything you need.</p>
        <div class="clearing"></div>
        <div id="layouttable">
          <div id="row">
            <div id="left">
              <h2>CSS Col 1 Row 1</h2>
              <p>Tables were only ever designed to present structured data, such as a list of places and information about them, or numbers such as data from a spreadsheet.</p>
              <p>Whiletables are a quick way of presenting information in a structured layout, they lack accessibility and were never designed for this purpose.</p>
            </div>
            <div id="middle"></div>
            <div id="right">
              <h2>CSS Col 2 Row 1</h2>
              <p>Using this CSS-based faux table, we can create and space information easily, all while retaining the accessibility of information, ensuring that for non-sighted users information is rendered in a readable manner without confusing tables getting in the way.</p>
            </div>
          </div>
          <div id="row">
            <div id="blank"></div>
          </div>
          <div id="row">
            <div id="left">
              <h2>CSS Col 1 Row 2</h2>
              <p>The text you want goes here.</p>
            </div>
            <div id="middle"></div>
            <div id="right">
              <h2>CSS Col 2 Row 1</h2>
              <p>You will see from this example, that the faux table-like cells will ensure that all cells in the same row retain the height of the largest cell.</p>
              <p>This ensures clean visual presentation with no problems down the track.</p>
            </div>
          </div>
          <div id="row"></div>
        </div>
      </div>
      <div class="clearing"></div>
    </div>
  </div>
  <div id="footer">
    <ul id="footer-logos-right">
      <li>Space for additional logos, information or text</li>
    </ul>
    <ul id="footer-logos">
      <a href="http://wa.gov.au/" title="Visit the WA Government website" alt="WA Government website" target="_blank"><img src="../assets/images/core/wa-gov-au.gif" alt="Visit the WA Government website" width="96" height="26" /></a>
    </ul>
    <p><a href="/path/to/file.ext">Home</a> | <a href="/path/to/file.ext">Privacy</a> | <a href="/path/to/file.ext">Disclamer</a> | <a href="/Sitemap">Copyright</a><br />
      All contents copyright &copy; Name of agency, Government of Western Australia. All rights reserved.</p>
  </div>
</div>
</body>
</html>
